In [2]:
import pandas as pd

In [3]:
# Criando uma lista para que possa ser lida como tabela em Pandas
nome = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

In [4]:
# Criando uma tabela de coluna única em Pandas (Series)
serie = pd.Series(nome)
print(serie)

0    Douglas
1    Daniela
2      Pedro
3      Maria
4    Eduardo
5      Ester
dtype: object

In [5]:
# Criando uma tabela de várias colunas em Pandas (DataFrame)
nome = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']
idade = [47, 9, 68, 67, 44, 39]
peso = [83, 35, 89, 65, 92, 67]
altura = [1.85, 1.39, 1.75, 1.68, 1.82, 1.72]
df = pd.DataFrame(zip(nome,idade,peso,altura),columns=['nome','idade','peso','altura'])
display(df)

      nome  idade  peso  altura
0  Douglas     47    83    1.85
1  Daniela      9    35    1.39
2    Pedro     68    89    1.75
3    Maria     67    65    1.68
4  Eduardo     44    92    1.82
5    Ester     39    67    1.72

In [6]:
filtro01 = df.loc[df['idade']>=40]
display(filtro01)

      nome  idade  peso  altura
0  Douglas     47    83    1.85
2    Pedro     68    89    1.75
3    Maria     67    65    1.68
4  Eduardo     44    92    1.82