# Fazendo consultas filtrando os dados do banco original

In [1]:
import pandas as pd
import pandas.io.sql as sqlio

In [2]:
# postgresql://unid_owner:tIGpm0RaJ1yC@ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech/loja?sslmode=require

host = 'ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech'
user = 'unid_owner'
password = 'tIGpm0RaJ1yC'
database = 'loja'

In [3]:
import psycopg2
conn = psycopg2.connect(database=database,
                        host=host,
                        user=user,
                        password=password
                        )

In [4]:
'''
Objetivo é fazer uma consulta de todos os atributos da tabela Cliente, porém
retornando apenas as linhas dos clientes cujo endereço é = 'BA'
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT * FROM Cliente
WHERE endereco = 'BA'
''' # Definição da consulta SQL a ser executada
nomes_end_clientes = sqlio.read_sql_query(query, conn)
display(nomes_end_clientes) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\498330287.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  nomes_end_clientes = sqlio.read_sql_query(query, conn)

   id_cliente         nome endereco
0           4        Maria       BA
1          18      Silvana       BA
2          19  Prof Raquel       BA
3          21        Erick       BA

In [5]:
'''
Resumo do comando: Seleciona as colunas: id_produto e quantidade da tabela:
ItemPedido, quando a quantidade for maior ou igual a 40 e armazena
os resultados da consulta em um dataframe Pandas chamado where1
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 40
''' # Definição da consulta SQL a ser executada
where1 = sqlio.read_sql_query(query, conn)
display(where1) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\411742703.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  where1 = sqlio.read_sql_query(query, conn)

   id_produto  quantidade
0           4          44
1           1          50
2           1          47

In [6]:
'''
Resumo do comando: Seleciona todas as colunas da tabela Cliente,
quando o endereço for igual a SP
e armazena os resultados da consulta em um dataframe Pandas chamado where2
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT * FROM Cliente
WHERE endereco = 'SP'
''' # Definição da consulta SQL a ser executada
where2 = sqlio.read_sql_query(query, conn)
display(where2) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\1943607170.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  where2 = sqlio.read_sql_query(query, conn)

   id_cliente       nome endereco
0           1    Douglas       SP
1           2    Daniela       SP
2          16     Sandra       SP
3          17      Celso       SP
4          20      Pedro       SP
5          23      Diana       SP
6          25  Deiverson       SP

In [7]:
'''
Resumo do comando: Seleciona distintamente as colunas: id_produto e quantidade
da tabela: ItemPedido, quando o quando a quantidade for maior ou igual a 10.
e armazena os resultados da consulta em um dataframe Pandas chamado distinct
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT DISTINCT id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 10;
''' # Definição da consulta SQL a ser executada
distinct = sqlio.read_sql_query(query, conn)
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\3036428763.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  distinct = sqlio.read_sql_query(query, conn)

    id_produto  quantidade
0            4          27
1            5          13
2            1          47
3            5          11
4            2          34
5            2          18
6            4          33
7            5          10
8            4          30
9            4          32
10           5          34
11           4          44
12           1          50
13           2          33
14           5          17

In [8]:
'''
Resumo do comando: Lendo o comando: Seleciona todos os atributos da tabela
Cliente e mostra apenas os cinco primeiros registros, e armazena os resultados
da consulta em um dataframe Pandas chamado limit
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT * FROM Cliente
LIMIT 5;
''' # Definição da consulta SQL a ser executada
limit = sqlio.read_sql_query(query, conn)
display(limit) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\1654781028.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  limit = sqlio.read_sql_query(query, conn)

   id_cliente     nome endereco
0           1  Douglas       SP
1           2  Daniela       SP
2           3    Ester       MG
3           4    Maria       BA
4           5  Douglas       PE

## Usando Operadores BOOLEANOS (AND|OR|NOT)

In [9]:
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Cliente,
apenas os registros com endereco igual a 'BA' e id_cliente igual a 19, e
armazena os resultados da consulta em um dataframe Pandas chamado exclusivo
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT nome, endereco
FROM Cliente
WHERE endereco = 'BA'
AND id_cliente = 19
''' # Definição da consulta SQL a ser executada
exclusivo = sqlio.read_sql_query(query, conn)
display(exclusivo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\1094343695.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  exclusivo = sqlio.read_sql_query(query, conn)

          nome endereco
0  Prof Raquel       BA

In [10]:
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Cliente,
apenas os registros com endereco igual a 'SP' ou endereco a 'MG', e
armazena os resultados da consulta em um dataframe Pandas chamado ou
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT nome, endereco
FROM Cliente
WHERE endereco = 'SP'
OR endereco = 'MG'
''' # Definição da consulta SQL a ser executada
ou = sqlio.read_sql_query(query, conn)
display(ou) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\1803864663.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ou = sqlio.read_sql_query(query, conn)

        nome endereco
0    Douglas       SP
1    Daniela       SP
2      Ester       MG
3     Sandra       SP
4      Celso       SP
5      Pedro       SP
6      Diana       SP
7  Deiverson       SP

In [11]:
'''
Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Cliente,
apenas os registros com endereco não seja igual a 'SP', e armazena os resultados
da consulta em um dataframe Pandas chamado nao
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT nome, endereco
FROM Cliente
WHERE NOT endereco = 'SP'
''' # Definição da consulta SQL a ser executada
nao = sqlio.read_sql_query(query, conn)
display(nao) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\1654162236.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  nao = sqlio.read_sql_query(query, conn)

           nome endereco
0         Ester       MG
1         Maria       BA
2       Douglas       PE
3      Raimundo       CE
4      Jucimara       GO
5       Marlene       AC
6       Douglas       MA
7       Daniela       PI
8         Pedro       PB
9       Joaquim       RS
10        Julio       TO
11        Carla       DF
12       Bianca       PA
13      Silvana       BA
14  Prof Raquel       BA
15        Erick       BA
16       Denise       DF
17       Dagmar       DF

In [12]:
'''
Resumo do comando: Seleciona as colunas: quantidade da tabela ItemPedido,
retorna o somatório da coluna, e armazena os resultados da consulta em um
dataframe Pandas chamado soma
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT SUM(quantidade) AS soma_qtde
FROM ItemPedido;
''' # Definição da consulta SQL a ser executada
soma = sqlio.read_sql_query(query, conn)
display(soma) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\2296858575.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  soma = sqlio.read_sql_query(query, conn)

   soma_qtde
0        512

In [13]:
'''
Resumo do comando: Seleciona as colunas: quantidade da tabela ItemPedido,
retorna o valor arredondado (ROUND) médio da coluna (AVG), e armazena os
resultados da consulta em um dataframe Pandas chamado media
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT ROUND(AVG(quantidade),0) AS media_qtde_arredondado
FROM ItemPedido;
''' # Definição da consulta SQL a ser executada
media = sqlio.read_sql_query(query, conn)
display(media) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\3145600969.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  media = sqlio.read_sql_query(query, conn)

   media_qtde_arredondado
0                    26.0

In [14]:
'''
Resumo do comando: Maior quantidade de produtos vendidos da tabela:ItemPedido,
e armazena os resultados da consulta em um dataframe Pandas chamado max
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT MAX(quantidade) AS qtde_max
FROM ItemPedido;
''' # Definição da consulta SQL a ser executada
max = sqlio.read_sql_query(query, conn)
display(max) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\2180143130.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  max = sqlio.read_sql_query(query, conn)

   qtde_max
0        50

In [15]:
'''
Resumo do comando:Seleciona a menor quantidade de produtos vendidos da
tabela:ItemPedido, e armazena os resultados da consulta em um dataframe
Pandas chamado min
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT MIN(quantidade) AS qtde_min
FROM ItemPedido;
''' # Definição da consulta SQL a ser executada
min = sqlio.read_sql_query(query, conn)
display(min) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\3309929817.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  min = sqlio.read_sql_query(query, conn)

   qtde_min
0         2

In [16]:
'''
Resumo do comando: Seleciona a coluna id_produto e faz a contagem de itens a
partir da tabela:Produto, e armazena os resultados da consulta em um dataframe
Pandas chamado contagem
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT COUNT(produto)
FROM Produto;
''' # Definição da consulta SQL a ser executada
contagem = sqlio.read_sql_query(query, conn)
display(contagem) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_3788\2659422775.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  contagem = sqlio.read_sql_query(query, conn)

   count
0      5