In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pandas.io.sql as sqlio

In [7]:
# postgresql://unid_owner:tIGpm0RaJ1yC@ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech/loja?sslmode=require

host = 'ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech'
user = 'unid_owner'
password = 'tIGpm0RaJ1yC'
database = 'loja'

In [8]:
import psycopg2
conn = psycopg2.connect(database=database,
                        host=host,
                        user=user,
                        password=password
                        )

In [9]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Cliente' # Definição da consulta SQL a ser executada
clientes = sqlio.read_sql_query(query, conn)
display(clientes) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_14100\2694554242.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clientes = sqlio.read_sql_query(query, conn)

    id_cliente         nome endereco
0            1      Douglas       SP
1            2      Daniela       SP
2            3        Ester       MG
3            4        Maria       BA
4            5      Douglas       PE
5            6     Raimundo       CE
6            7     Jucimara       GO
7            8      Marlene       AC
8            9      Douglas       MA
9           10      Daniela       PI
10          11        Pedro       PB
11          12      Joaquim       RS
12          13        Julio       TO
13          14        Carla       DF
14          15       Bianca       PA
15          16       Sandra       SP
16          17        Celso       SP
17          18      Silvana       BA
18          19  Prof Raquel       BA
19          20        Pedro       SP
20          21        Erick       BA
21          22       Denise       DF
22          23        Diana       SP
23          24       Dagmar       DF
24          25    Deiverson       SP

In [ ]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT nome, endereco FROM Cliente' # Definição da consulta SQL a ser executada
nomes_end_clientes = sqlio.read_sql_query(query, conn)
display(nomes_end_clientes) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Nesse bloco vamos fazer uma consulta que retorne todas as colunas e
todos os registros da tabela Pedido do nosso banco de dados chamado
loja
'''

# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Pedido' # Definição da consulta SQL a ser executada
pedidos = sqlio.read_sql_query(query, conn)
display(pedidos) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Nesse bloco vamos fazer uma consulta que retorne todas as colunas e
todos os registros da tabela Produto do nosso banco de dados chamado
loja
'''

# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Produto' # Definição da consulta SQL a ser executada
produtos = sqlio.read_sql_query(query, conn)
display(produtos) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Nesse bloco vamos fazer uma consulta que retorne todas as colunas e
todos os registros da tabela ItemPedido do nosso banco de dados chamado
loja
'''

# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ItemPedido' # Definição da consulta SQL a ser executada
itens = sqlio.read_sql_query(query, conn)
display(itens) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Nesse bloco vamos fazer uma consulta que retorne todas as colunas e
todos os registros da tabela Categoria do nosso banco de dados chamado
loja
'''

# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Categoria' # Definição da consulta SQL a ser executada
categorias = sqlio.read_sql_query(query, conn)
display(categorias) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Nesse bloco vamos fazer uma consulta que retorne todas as colunas e
todos os registros da tabela ProdutoCategoria do nosso banco de dados chamado
loja
'''

# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ProdutoCategoria' # Definição da consulta SQL a ser executada
pcategorias = sqlio.read_sql_query(query, conn)
display(pcategorias) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta