In [11]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import pandas.io.sql as sqlio

In [13]:
# postgresql://unid_owner:tIGpm0RaJ1yC@ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech/loja?sslmode=require

host = 'ep-fragrant-smoke-a54rcd82.us-east-2.aws.neon.tech'
user = 'unid_owner'
password = 'tIGpm0RaJ1yC'
database = 'loja'

In [14]:
import psycopg2
conn = psycopg2.connect(database=database,
                        host=host,
                        user=user,
                        password=password
                        )

In [15]:
'''
Resumo do comando: Comando que seleciona o atributo endereço, cria e seleciona a
coluna count renomeada com freq da tabela Cliente e agrupa por endereco,
e armazena os resultados da consulta em um dataframe Pandas chamado grupo
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT endereco
     , count(*) as freq
  FROM Cliente
 GROUP BY endereco;
''' # Definição da consulta SQL a ser executada
grupo = sqlio.read_sql_query(query, conn)
display(grupo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_6680\3070848913.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  grupo = sqlio.read_sql_query(query, conn)

   endereco  freq
0        MG     1
1        CE     1
2        AC     1
3        RS     1
4        DF     3
5        SP     7
6        BA     4
7        MA     1
8        PE     1
9        GO     1
10       PB     1
11       PI     1
12       PA     1
13       TO     1

In [16]:
'''
Resumo do comando: Consulta que seleciona endereco e contangem de endereco da
tabela Cliente, Agrupado por endereço tendo apenas (HAVING) os edereços que se
repetem pelo menos duas vezes. e armazena os resultados da consulta
em um dataframe Pandas chamado tendo
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT endereco
     , count(*)
  FROM Cliente
 GROUP BY endereco
 HAVING count(*) > 1;
''' # Definição da consulta SQL a ser executada
tendo = sqlio.read_sql_query(query, conn)
display(tendo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_6680\2501487660.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tendo = sqlio.read_sql_query(query, conn)

  endereco  count
0       DF      3
1       SP      7
2       BA      4

In [17]:
'''
Resumo do comando: Unindo duas consultas, sendo a primeira como a seleção de
id_pedido e id_produto da tabela ItemPedido onde o id_produto é 1, e a segunda
como a seleção de id_pedido e id_produto da tabela ItemPedido onde o
id_produto é 4 e armazena os resultados da consulta
em um dataframe Pandas chamado uniao
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT id_pedido, id_produto
  FROM ItemPedido
 WHERE id_produto = 1
UNION
SELECT id_pedido, id_produto
  FROM ItemPedido
 WHERE id_produto = 4;
''' # Definição da consulta SQL a ser executada
uniao = sqlio.read_sql_query(query, conn)
display(uniao) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

C:\Users\deivi\AppData\Local\Temp\ipykernel_6680\1461555692.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  uniao = sqlio.read_sql_query(query, conn)

   id_pedido  id_produto
0          1           1
1          6           4
2         15           4
3         10           4
4         20           1
5         19           1
6          8           4
7          7           4
8         12           4

In [18]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT
    id_pedido,
    id_produto
  FROM ItemPedido
 WHERE id_produto IN (1, 2)
   AND id_pedido BETWEEN 1 AND 9;
''' # Definição da consulta SQL a ser executada
entre = sqlio.read_sql_query(query, conn)
display(entre) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta
'''
As claúsulas IN, e BETWEEN servem como endereçamentos de filtros para
posições específicas de um ou mais atributos
'''

C:\Users\deivi\AppData\Local\Temp\ipykernel_6680\3148178015.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  entre = sqlio.read_sql_query(query, conn)

   id_pedido  id_produto
0          1           1
1          2           2

'\nAs claúsulas IN, e BETWEEN servem como endereçamentos de filtros para\nposições específicas de um ou mais atributos\n'

In [ ]:
'''
Agora vamos para a tabela Produto e no atributo nome vamos realizar uma consulta
que nos retorne todos os produtos que terminem com a letra o e os seus
respectivos ids
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT
  id_produto,
  nome
  FROM Produto
  WHERE nome LIKE '%o';
''' # Definição da consulta SQL a ser executada
like1 = sqlio.read_sql_query(query, conn)
display(like1) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Agora vamos para a tabela Produto e no atributo nome vamos realizar uma consulta
que nos retorne todos os produtos que comecem com a letra C e os seus
respectivos ids
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT
  id_produto,
  nome
  FROM Produto
  WHERE nome LIKE 'C%';
''' # Definição da consulta SQL a ser executada
like2 = sqlio.read_sql_query(query, conn)
display(like2) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Verficar a existência de valores nulos para o atributo nome na tabela Produto
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
Select nome from Produto
WHERE nome IS NULL;
''' # Definição da consulta SQL a ser executada
nulo = sqlio.read_sql_query(query, conn)
display(nulo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Verficar a existência de valores não nulos para o atributo
nome na tabela Produto
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
Select nome from Produto
WHERE nome IS NOT NULL;
''' # Definição da consulta SQL a ser executada
nnulo = sqlio.read_sql_query(query, conn)
display(nnulo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Vamos selecionar todos os atributos da tabela ItemPedido, ordenando de forma
Crescente por quantidade
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT *
  FROM ItemPedido
 ORDER BY quantidade ASC;
''' # Definição da consulta SQL a ser executada
order = sqlio.read_sql_query(query, conn)
display(order) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

In [ ]:
'''
Vamos selecionar todos os atributos da tabela ItemPedido, ordenando de forma
decrescente por quantidade
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT *
  FROM ItemPedido
 ORDER BY quantidade DESC;
''' # Definição da consulta SQL a ser executada
order = sqlio.read_sql_query(query, conn)
display(order) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

# Tratamento de texto
TRIM, REPLACE, LPAD, REPLICATE, SUBSTRING, UPPER, LOWER e LEN

In [ ]:
'''
TRIM— remove espaços
REPLACE— substitui algo por algo
LPAD e REPLICATE— Replica valores
SUBSTRING— pega trecho de um texto
UPPER— deixa tudo maiúsculo
LOWER— deixa tudo minúsculo
LENGTH— calcula a quantidade de caracteres
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT nome, id_produto,
       TRIM(nome) AS trim,
       REPLACE(nome, 'o', 'oo') AS rep,
       SUBSTRING(nome, 1, 2) AS sub,
       UPPER(nome) AS UPPER,
       LOWER(nome) AS LOWER,
       LENGTH(nome) AS LENGTH
  FROM Produto AS prod;
''' # Definição da consulta SQL a ser executada
texto = sqlio.read_sql_query(query, conn)
display(texto) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta

## 3.9 - Conversão de tipos - CAST

In [ ]:
'''
Nesse bloco vamos selecionar o atributo id_cliente da tabela pedido e vamos
fazer uma consulta que retorne uma coluna nova chamada id_cliente_texto com
a concatenação (CONCAT) do texto "Cliente - " com o id do cliente
convertido (CAST) em texto
'''
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = conn.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = '''
SELECT id_cliente,
       concat('Cliente - ', CAST(id_cliente AS CHAR)) AS id_cliente_texto
  FROM Pedido;
''' # Definição da consulta SQL a ser executada
cast = sqlio.read_sql_query(query, conn)
display(cast) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
conn.close() # Fechamento da conexão após a consulta